@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}
@layer base {
  :root {
    --detail-color: 14 165 233
  }
}

.open {
  animation-name: open;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes open {
  to{
    width:30%;
  }
}